body.overflow-hidden { 
    overflow: hidden;
  }
  
  .backImage {
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .inputContainer {
    background-color: black;
    border-radius: 15px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .inputField {
    flex: 1;
    width: calc(100% - 40px);
    padding: 10px 15px;
    padding-right: 50px; 
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: rgba(52, 44, 44, 0.9);
    color: white;
    font-size: 16px;
    outline: none;
    text-overflow: clip;
  }

  .brandName {
    display: block;
    margin-bottom: 30px;
    color: white;
    font-size: 24px;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.2s ease;
  }
  
  .brandName:hover {
    color: lightblue;
  }
  
  .emailInput, 
  .passwordInput {
    position: relative; 
    margin-top: 15px;
    width: 350px;
    display: flex;
    align-items: center; 
  }
    
  .clearIcon, .showPasswordIcon {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-52%);
    cursor: pointer;
    color: lightgray;
    font-size: 26px;
    transition: color 0.2s ease;
  }
  
  .showPasswordIcon {
    right: 13px;
    font-size: 22px;
    transform: translateY(-38%);
  }
  
  .clearIcon:hover {
    color: #8c52ff;
  }
  
  .showPasswordIcon:hover {
    color: #8c52ff;
  }
  
  
  .enter, .createAccount {
    padding: 10px 0;
    border: none;
    text-decoration: none;
    border-radius: 10px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 16px;
    display: block;
    margin-top: 15px;
    width: 350px;
  }
  
  .createAccount {
    background-color: #343a40;
  }
  
  .enter:hover {
    background-color: #2562a3;
  }
  
  .createAccount:hover {
    background-color: #2562a3;
  }
  
  .errorMessage {
    margin-top: 15px;
    text-align: left;
    color: red;
    font-size: 15px;
  }
  
  .successMessage {
    margin-top: 15px;
    text-align: left;
    color: green;
    font-size: 15px;
  }